.header {
    position: relative;
    width: 100%;
    max-height: 396px;
    display: flex;
    margin: auto;
    background-image: url("../../images/marian-kroell-OVXlWNcQV5M-unsplash.png");
}

.header__cover {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header__title {
    font-size: 62px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 1.4px;
    color: #ffffff;
    margin: 120px auto 140px auto;
    z-index: 2;
    width: 720px;
}

@media screen and (min-width: 992px) {
    .header {
        height: 340px;
    }
    .header__title {
        margin: 100px auto auto auto;
        font-size: 54px;
        line-height: 60px;
        max-width: 630px;
        max-height: 120px;
        text-align: center;
        letter-spacing: 1.2px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 276px;
    }
    .header__title {
        min-width: 470px;

        max-height: 96px;
        margin: 80px auto auto auto;
    }
}

@media screen and (max-width: 576px) {
    .header {
        height: 236px;
    }
    .header__title {
        font-size: 46px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 1px;
        max-width: 450px;
        max-height: 96px;
    }
}

@media screen and (min-width: 280px) and (max-width: 575px) {
    .header {
        height: 274px;
    }
    .header__title {
        margin: 60px auto auto auto;
        min-width: 290px;
        max-height: 144px;
    }
}
